html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
}

li {
  list-style: none;
}

.wrapper {
  background-color: #191919;
}
.card-item {
  background-color: #212121;
  box-shadow: 1px 1px 10px #101010;

  transition: all 0.3s linear 0s;
  &:not(:nth-child(3n + 3)) {
    margin-right: 10px;
  }
  &:nth-child(n + 4) {
    margin-top: 10px;
  }
  p {
    margin: 0;
    color: #2b832b;
    font-weight: 500;
    i {
      color: #724c4c;
    }
  }
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.photo-card {
  min-height: 200px;
  border: 1px solid #101010;
}

.load-more {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.load-more {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: 2px solid rgb(52, 126, 52);
  box-shadow: 1px 1px 10px black;
  color: white;
  font-weight: 700;

  background-color: rgb(52, 126, 52);
  transition: all 0.3s linear 0s;
  &:hover {
    background-color: rgb(15, 138, 15);
  }
  &:focus {
    outline: none;
    border: 2px solid rgb(32, 190, 32);
  }
}
